First person's answer, second person's answer, etc.
______________________________________________________

Initial Answer 1: <span id="initial_answer_1"></span><br>
Initial Answer 2: <span id="initial_answer_2"></span><br>



First person's error, second person's error, etc.
______________________________________________________

Meta Error 1: <span id="meta_error_1"></span><br>
Meta Error 2: <span id="meta_error_2"></span><br>


First person's rank, second person's rank, etc.
______________________________________________________

Rank 1: <span id="rank_1"></span><br>
Rank 2: <span id="rank_2"></span><br>



Most accurate person, second most accurate person, etc.
______________________________________________________

Person 1: <span id="person_1"></span><br>
Person 2: <span id="person_2"></span><br>