<b>First person's answer, second person's answer, etc.</b><br>
Value 1: <span id="value_1"></span><br>
Value 2: <span id="value_2"></span><br>

<b>First person's rank, second person's rank, etc.</b><br>
Rank 1: <span id="rank_1"></span><br>
Rank 2: <span id="rank_2"></span><br>

<b>First person's error, second person's error, etc.</b><br>
Error 1: <span id="error_1"></span><br>
Error 2: <span id="error_2"></span><br>

<b>Most accurate person, second most accurate person, etc.</b><br>
Person 1 (most accurate): <span id="person_1"></span><br>
Person 2 (second most accurate): <span id="person_2"></span><br>